<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="minesmart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="minesmart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="minesmart.Properties.Settings.ERawaanaConnectionString"
            connectionString="Data Source=103.74.54.154,1533;Initial Catalog=ERawaana;Persist Security Info=True;User ID=sa;Password=W6T@9SK8hAGdx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <minesmart.Properties.Settings>
            <setting name="Connection_String" serializeAs="String">
                <value>Data Source=DOTNET01;Initial Catalog=ERawaana;Persist Security Info=True;user id=sa;password=ssspl123;Pooling=True;Min Pool Size=0;Max Pool Size=250;Connect Timeout=100000</value>
            </setting>
            <setting name="WeightbridgeNo" serializeAs="String">
                <value>00844</value>
            </setting>
            <setting name="UserSSOID" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="weighBridgeReader" serializeAs="String">
                <value />
            </setting>
            <setting name="isReversedDrop" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsKey" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbproductname" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSubmitsetting" serializeAs="String">
                <value />
            </setting>
        </minesmart.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <minesmart.Properties.Settings>
        <setting name="UserId" serializeAs="String">
            <value />
        </setting>
        <setting name="WeightBridge" serializeAs="String">
            <value />
        </setting>
        <setting name="Accesskey" serializeAs="String">
            <value />
        </setting>
        <setting name="ActiveKey" serializeAs="String">
            <value />
        </setting>
        <setting name="CompanyId" serializeAs="String">
            <value />
        </setting>
        <setting name="ClientId" serializeAs="String">
            <value />
        </setting>
        <setting name="Provider" serializeAs="String">
            <value />
        </setting>
        <setting name="Language" serializeAs="String">
            <value>English</value>
        </setting>
    </minesmart.Properties.Settings>
  </applicationSettings>
</configuration>
